body{
	background-color:#4eccc4;
	font-family: Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

h1{
	margin: 0;
}

#container{
	background-color: #fd5c62;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header{
	background-color: #2baaec;
	color:#fed13e;
	text-align:center;
}

#content{
	padding: 10px;
}

#image{
	text-align:center;
}

#nav{
	width: 180px;
	float: left;
}

#nav ul{
	list-style-type: none;
	padding: 0;
}

#nav .selected{
	font-weight:bold;
}

#main{
	width: 600px;
	float: right;
}

#footer{
	background-color: #b3d852;
	clear:both;
	text-align: right;
	padding:10px;
	color: white;
}


